#bots-footer  {
    position: fixed;
    width: 100%;
    bottom : 0px;  
    margin-top: 10px;
    height : 60px;
    text-align: center;
    vertical-align: middle; 
    padding-top: 0.5 rem;
    background-color: rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity));
    color: #fff;
}

#start_tlg {
    border: #79aec8;
    border-radius: 12px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background-color: #79aec8;
    letter-spacing: 0.5px;
    padding: 8px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

#start_tlg:hover{
    background-color: #417690;
}
.chartjs-render-monitor{
    margin: 77px 10px; 
}
