{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "/visualizer.css" %}" />
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
            <h1>[[ voting[0]["id"] ]] - [[ voting[0]["name"] ]]</h1>

            <h2 v-if="!voting[0]['start_date']">Votación no comenzada</h2>
            <h2 v-else-if="!voting[0]['end_date']">Votación en curso</h2>
            <div v-else>
                <h2 class="heading">Resultados:</h2>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="vote in voting[1]" :key="vote['number']">
                            <th>[[ vote['option'] ]]</th>
                            <td>[[ vote['postproc'] ]]</td>
                            <td class="text-muted">[[ vote['votes'] ]]</td>
                        </tr>
                    </tbody>
                </table>
                <a v-bind:href="'/visualizer/votes/' + [[ voting[0]['id'] ]] ">Descargar datos en CSV</a>
                <pie-chart></pie-chart> 
                <bar-chart></bar-chart>
            </div>
        </div>
        
    </div>
    <footer class="bg-secondary" id="bots-footer">
        <p class="navbar-brand">Echa un vistazo a nuestros bots si quieres estar al tanto de toda la información de las votaciones
            <img src="https://img.icons8.com/color/48/000000/telegram-app--v1.png" 
            onclick="window.location='https://t.me/votitos_bot'">
        </p>
    </footer>
{% endblock %}


{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <!-- Vue Chart -->
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

    <!-- Pie Chart -->
    <script>
        Vue.component('pieChart',{
            extends:VueChartJs.Pie,
            data(){
                return{
                    votesOptions:[],
                    votesValue:[],
                    bgColor:[]
                }
            },
            mounted(){
                this.loadData()
                this.renderChart({
                    labels: this.votesOptions,
                    datasets: [
                        {
                            label: 'GRAFICOS',
                            backgroundColor: this.bgColor,
                            data: this.votesValue
                        }
                    ]
                },{responsive:true,  maintainAspectRatio: false})
            },
            methods:{
                loadData(){
                    (voting[1]).forEach(element =>{
                        randomColor = Math.floor(Math.random()*16777215).toString(16);
                        this.bgColor.push("#" + randomColor)
                        this.votesOptions.push(element.option)
                        this.votesValue.push(element.votes)
                    });
                    
                }
            }

        })
    </script>
        
    <!-- Bar Chart -->
    <script>
        Vue.component('barChart',{
            extends:VueChartJs.Bar,
            data(){
                return{
                    votesOptions:[],
                    votesValue:[],
                    bgColor:[]
                }
            },
            mounted(){
                this.loadData()
                this.renderChart({
                    labels: this.votesOptions,
                    datasets: [
                        {
                            label: 'GRAFICOS',
                            backgroundColor: this.bgColor,
                            data: this.votesValue
                        }
                    ]
                },{responsive:true,  maintainAspectRatio: false})
            },
            methods:{
                loadData(){
                    (voting[1]).forEach(element =>{
                        randomColor = Math.floor(Math.random()*16777215).toString(16);
                        this.bgColor.push("#" + randomColor)
                        this.votesOptions.push(element.option)
                        this.votesValue.push(element.votes)
                    });
                    
                }
            }

        })
    </script>

    <script>   
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>
    
    
</body>
{% endblock %}