{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />


{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
            <input id="vot_type" type="hidden" :value="voting.type">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="voting.start_date == 'None'">Votación no comenzada</h2>
            <h2 v-else-if="voting.end_date == 'None'">Votación en curso</h2>
            <div v-else>
                <h2 class="heading">Resultados:</h2>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[ opt.option ]]</th>
                            <td>[[ opt.postproc ]]</td>
                            <td class="text-muted">[[ opt.votes ]]</td>
                        </tr>
                    </tbody>
                </table>
                <a v-bind:href="'/visualizer/votes/binaryVoting/' + [[ voting.id ]] ">Descargar datos en CSV</a> 
                <pie-chart></pie-chart>
                <bar-chart></bar-chart> 
            </div>
        </div>
        
    </div>
    <footer class="bg-secondary" id="bots-footer">
        <p class="navbar-brand">Echa un vistazo a nuestros bots si quieres estar al tanto de toda la información de las votaciones
            <img src="https://img.icons8.com/color/48/000000/telegram-app--v1.png" 
            onclick="window.location='https://t.me/votitos_bot'">
            <img src="https://img.icons8.com/color/48/000000/discord-new-logo.png" class = "logodiscord" title="Votitos #5072"/>
            
        </p>
    </footer>    
{% endblock %}


{% block extrabody %}

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <!-- Vue Chart -->
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

    <!-- Pie Chart -->
    <script>
        Vue.component('pieChart',{
            extends:VueChartJs.Pie,
            data(){
                return{
                    votesOptions:[],
                    votesValue:[],
                    bgColor:[]
                }
            },
            mounted(){
                this.loadData()
                this.renderChart({
                    labels: this.votesOptions,
                    datasets: [
                        {
                            label: 'GRAFICOS',
                            backgroundColor: this.bgColor,
                            data: this.votesValue
                        }
                    ]
                },{responsive:true,  maintainAspectRatio: false})
            },
            methods:{
                loadData(){
                    (voting.postproc).forEach(element =>{
                        randomColor = Math.floor(Math.random()*16777215).toString(16);
                        this.bgColor.push("#" + randomColor)
                        this.votesOptions.push(element.option)
                        this.votesValue.push(element.votes)
                    });
                    
                }
            }

        })
    </script>
        
    <!-- Bar Chart -->
    <script>
        Vue.component('barChart',{
            extends:VueChartJs.Bar,
            data(){
                return{
                    votesOptions:[],
                    votesValue:[],
                    bgColor:[]
                }
            },
            mounted(){
                this.loadData()
                this.renderChart({
                    labels: this.votesOptions,
                    datasets: [
                        {
                            label: 'GRAFICOS',
                            backgroundColor: this.bgColor,
                            data: this.votesValue
                        }
                    ]
                },{responsive:true,  maintainAspectRatio: false})
            },
            methods:{
                loadData(){
                    (voting.postproc).forEach(element =>{
                        randomColor = Math.floor(Math.random()*16777215).toString(16);
                        this.bgColor.push("#" + randomColor)
                        this.votesOptions.push(element.option)
                        this.votesValue.push(element.votes)
                    });
                    
                }
            }

        })
    </script> 
 

    <script>   
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>
    
    <script src="{% static "scripts/get_graphs.js" %}"></script>     
</body>
{% endblock %}