{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "/visualizer.css" %}" />
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
            <h1>{{voting.0.id}} - {{voting.0.name}}</h1>

            {%if voting.0.start_date == null %}
                <h2>Votación no comenzada</h2>
            {%elif voting.0.end_date == null %}
                <h2>Votación en curso</h2>
            {% else %}
            <div v-else>
                <h2 class="heading">Resultados:</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for opt in voting.1%}
                        <tr>
                            <th>{{opt.option}}</th>
                            <td>{{opt.postproc}}</td>
                            <td class="text-muted">{{opt.votes}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
    <footer class="bg-secondary" id="bots-footer">
        <p class="navbar-brand">Echa un vistazo a nuestros bots si quieres estar al tanto de toda la información de las votaciones
            <img src="https://img.icons8.com/color/48/000000/telegram-app--v1.png" 
            onclick="window.location='https://t.me/votitos_bot'">
        </p>
    </footer>
{% endblock %}


{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>
</body>
{% endblock %}