html {
  background: linear-gradient(#2a323d, transparent);
  background-color: #154c69;
  height: 100%;
  width: 100%;
}

html body {
  background: linear-gradient(#2a323d, transparent);
  background-color: #154c69;
  height: 100%;
  width: 100%;
}
